{% extends 'base.html' %}
{% block content %}
<div class="create">   
    <div class="createimage">
        <form action="/bucket/create/" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
                {%if bucket.image%}
                    <img src="/media/{{bucket.image}}" style="width:200px; height:40%; margin: 30px 20px;">
                {%else%}
                    <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR69NqHZ5iSU6hstqlhMGcigGhmdmDTBalgpg&usqp=CAU" alt="">
                {%endif%}
                <div class="btn1">
                    <input class="btn btn-sm btn-outline-secondary" type="file" name="image" style="width:95%" />
                </div>
    </div>     
        <div class="form-label-group" >
            <input type="text" class="form-control" placeholder="제목을 입력하세요" name="title">
        </div>
        <div class="bucket_content">
            <textarea type="text" class="form-control input-lg" placeholder="내용을 입력하세요" name="content" style="margin-top:20px"></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 200px; margin: 20px auto 20px auto;">bucket 저장</button>
        </form>
    </div>
{% endblock %}

