{% extends 'base.html' %} {% block content %}
<div>개인 상세 페이지 입니다.</div>

<!-------------------------------여기부터 댓글----------------------------------->
<div class="comment-container">
  <div class="be-comment-block">
    <div class="be-like-block" style="float: right">
      <button type="submit">공유하기</button>
      <div style="float: right">
        <button type="submit">북마크</button>
      </div>
    </div>

    <div class="be-like-block">
      <form action="/bucket/likes/{{bucket.id}}/" method="post">
        {% csrf_token %}
        <button type="submit">좋아요</button>
        <span class="small">
          {{ bucket.like_users.count }} 명이 이 글을 좋아합니다.
        </span>
      </form>
    </div>
    <h1 class="comments-title">댓글 목록</h1>
    <div class="be-comment">
      {% for comment in comments %}
      <div class="be-img-comment">
        {%if user.image%}
            <img src="/media/{{user.image}}"
                style="width:100px; margin: 0px -30px; border-radius:80%; overflow:hidden;"> 
        {%else%}    
            <img src="https://png.pngtree.com/png-vector/20191113/ourmid/pngtree-personal-personalization-profile-user-line-icon-vector-png-image_1984805.jpg"
            style="width:100px; margin: 0px -30px; border-radius:80%; overflow:hidden;">
        {%endif%}  
        
      </div>
      <div class="be-comment-content">
        <span class="be-comment-name">
          <a>{{ comment.user.username }}</a>
        </span>
        <span class="be-comment-time">
          <i class="fa fa-clock-o"></i>
          {{ comment.updated_at }}
        </span>
        <p class="be-comment-text">{{ comment.content }}</p>
        <div class="comment-button">
          <form
            action="/bucket/comments_delete/{{bucket.id}}/{{comment.id}}/"
            method="post"
          >
            {% csrf_token %}
            <button class="btn btn-outline-dark btn-sm" type="submit">
              댓글삭제
            </button>
          </form>
        </div>
      </div>
      {% empty %}
      <p>아직 댓글이 없습니다.</p>
      {% endfor %}
    </div>
    <div>
      <form
        class="form-block"
        action="/bucket/comments_create/{{bucket.id}}/"
        method="post"
      >
        {% csrf_token %}
        <div class="row">
          <div class="form-group">
            <textarea
              class="form-input"
              type="text"
              name="content"
              placeholder="댓글을 입력해주세요"
            ></textarea>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-dark btn-sm" type="submit">
            댓글작성
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
