<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인 상세 페이지</title>
</head>
<body>
    <div>개인 상세 페이지 입니다.</div>

    
    

    <div>----------------------------------------------------------------------</div>
<!-------------------------------여기부터 댓글----------------------------------->
    <div>
    댓글 목록 : 
    </div>
    <div>
        {% for comment in comments %}

                <li>{{ comment.content }}</li>
                <form action="/bucket/comments_delete/{{bucket.id}}/{{comment.id}}" method="post">
                    {% csrf_token %}
                    <button type='submit'> 댓글삭제 </button>
                </form>

        {% empty %}
            <p>아직 댓글이 없습니다.</p>
        {% endfor %}
    </div>
    <div>
        <form action='/bucket/comments_create/{{bucket.id}}/' method='post'>
            {% csrf_token %}
            <input type='text' name='content' placeholder='댓글을 입력해주세요'>
            <button type='submit'> 댓글달기 </button>
        </form>
    </div>
</body>
</html>
