{% extends 'base.html' %} {% block content %} {% load social_share %}
<section class="jumbotron text-center">
  <div class="container">
      <h1 class="jumbotron-heading">Bucket List</h1>
      {% if request.user.is_authenticated %}
      <a href="/bucket/mypage/">
          My Bucket List
      </a>
      {%endif%}
  </div>
</section>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
      {{ message.message }}
    </div>  
    {% endfor %}
{% endif %} 

<!------------------------------- 게시글 구현 ----------------------------------->

<div class="container" style="margin-top:50px">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ bucket.title }}  {{ bucket.author }}</h5>
            <p class="card-text">
                <small class="text-muted">작성자 : {{ bucket.user.username }}</small>
                <small class="text-muted">| {{ bucket.created_at | date:"Y-m-d h:i" }}</small>
            </p>
            <hr>
            <p class="card-text" style="padding-bottom:70px;">
              <div>
                {%if bucket.image%}
                <img src="/media/{{bucket.image}}/" style="width:400px; height:40%; margin: -70px auto 20px auto; ">
                {% else %}
                <div></div>
                {% endif %}
              </div>
              {{ bucket.content }}
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
             <form action="/bucket/update/{{ bucket.id }}/" method="get" name="update">
                 {% csrf_token %}
                <button type="submit" class="btn btn-success">수정</button>
             </form>
        </div>
        <div class="col-auto">
            <form action="/bucket/bdelete/{{ bucket.id }}/" method="post" name="bdelete">
                <button type="submit" class="btn btn-danger">삭제</button>
            </form>
        </div>
    </div>
</div>

<!-------------------------------여기부터 댓글----------------------------------->
<div class="comment-container">
  <div class="be-comment-block">
    <div class="be-like-block" style="float: right">
      <button class="like-button">
        {% post_to_facebook post.get_absolute_url "Facebook" %}
      </button>
      <button class="like-button">
        {% post_to_twitter "Twitter" post.get_absolute_url "Twitter" %}
      </button>
      <div style="float: right">
        <form action="/bucket/bookmarks/{{bucket.id}}/" method="post">
          {% csrf_token %}
          <button class="like-button" type="submit">북마크</button>
        </form>
      </div>
    </div>
    <div class="be-like-block">
      <form action="/bucket/likes/{{bucket.id}}/" method="post">
        {% csrf_token %}
        {% if user in bucket.like_users.all %}
        <button class="like-button" type="submit">❤️</button>
        {% else %}
        <button class="like-button" type="submit">🤍</button>
        {% endif %}
        <span class="small">
          {{ bucket.like_users.count }} 명이 이 글을 좋아합니다.
        </span>
      </form>
    </div>
    <hr color="#646464" />
    <h1 class="comments-title">댓글 목록</h1>
    <div class="be-comment">
      {% for comment in comments %}
      <div class="be-img-comment">
        {%if comment.user.image%}
        <img
          src="/media/{{comment.user.image}}"
          style="
            width: 75px;
            margin: 0px -10px;
            border-radius: 80%;
            overflow: hidden;
          "
        />
        {%else%}
        <img
          src="https://png.pngtree.com/png-vector/20191113/ourmid/pngtree-personal-personalization-profile-user-line-icon-vector-png-image_1984805.jpg"
          style="
            width: 75px;
            margin: 0px -10px;
            border-radius: 80%;
            overflow: hidden;
          "
        />
        {%endif%}
      </div>
      <div class="be-comment-content">
        <span class="be-comment-name">
          <a>{{ comment.user.username }}</a>
        </span>
        <span class="be-comment-time">
          <i class="fa fa-clock-o"></i>
          {{ comment.updated_at }}
        </span>
        <p class="be-comment-text">{{ comment.content }}</p>
        <div class="comment-button">
          <form
            action="/bucket/comments_delete/{{bucket.id}}/{{comment.id}}/"
            method="post"
          >
            {% csrf_token %}
            <button class="btn btn-outline-dark btn-sm" type="submit">
              댓글삭제
            </button>
          </form>
        </div>
      </div>
      {% empty %}
      <p>아직 댓글이 없습니다.</p>
      {% endfor %}
    </div>
    <div>
      <form
        class="form-block"
        action="/bucket/comments_create/{{bucket.id}}/"
        method="post"
      >
        {% csrf_token %}
        <div class="row">
          <div class="form-group">
            <textarea
              class="form-input"
              type="text"
              name="content"
              placeholder="댓글을 입력해주세요"
            ></textarea>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-dark btn-sm" type="submit">
            댓글작성
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
