{% extends 'base.html' %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">My Bucket List</h1>
    </div>
</section>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
      {{ message.message }}
    </div>  
    {% endfor %}
{% endif %}
<div class="main">
    <div class="left">
        <div class="bg-body-tertiary shadow-sm mx-auto"
            style="width: 80%; height: 500px; border-radius: 21px 21px 21px 21px;">
            {%if user.image%}
            <img src="/media/{{user.image}}" style="width:200px; height: 45%; margin: 30px 20px;">
            {%else%}
            <img src="https://png.pngtree.com/png-vector/20191113/ourmid/pngtree-personal-personalization-profile-user-line-icon-vector-png-image_1984805.jpg"
                style="width:200px; margin: 30px 20px;">
            {%endif%}
            <div class="mypage">
                <a href="/bucket/profile/{{user.id}}/">{{user.username}}</a>
                <p>{{user.email}}</p>
                {%if user.mbti%}
                <p>MBTI : {{user.mbti}}</p>
                {%else%}
                <p> MBTI : 입력 전입니다</p>
                {%endif%}
                {%if user.tmi%}
                <p>TMI : {{user.tmi}}</p>
                {%else%}
                <p>TMI : 입력 전입니다</p>
                {%endif%}
                {%if user.blog%}
                <p>Blog : <a href="{{user.blog}}">{{user.blog}}</a></p>
                {%else%}
                <p>Blog : 입력 전입니다</p>
                {%endif%}
            </div>
        </div>
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="bg-body-tertiary shadow-sm mx-auto"
                style="width: 100%; height: 500px; border-radius: 21px 21px 21px 21px;">
                <h3 class="display-5">Bucket List</h3>
                <h3 class="display-5">모음</h3>
                {% for bucket in buckets_list %}
                <li>
                    <a href="/bucket/{{bucket.id}}/">{{bucket.title}}</a>
                </li>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="right">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for bucket in page.object_list %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top"
                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                    alt="Thumbnail [100%x225]"
                                    src="https://images.newcomernet.com/blogimages/blogimage-637133179061512693.jpg"
                                    data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                                <div class="card-body">
                                    <p class="card-text">{{bucket.title}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <form action="/bucket/{{bucket.id}}/" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                                            </form>
                                        </div>
                                        <small class="text-muted">{{bucket.created_at}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="bookmark">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">My</h2>
                <h2 class="display-5"> Bookmark</h2>
            </div>
            <div class="bg-body-tertiary shadow-sm mx-auto"
                style="width: 80%; height: auto; border-radius: 21px 21px 21px 21px;">
                {%if bookmarks%}
                {% for bookmark in bookmarks %}
                {% for bucket in buckets %}
                {% if bucket == bookmark%}
                <li>
                    <a href="/bucket/{{ bucket.id }}/">{{ bucket.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% else %}
                <div class="p">
                    <p>북마크 된 글이</p>
                    <p>아직 없습니다</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="page">
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}">Prev</a>
    {%endif%}
    Page {{page.number}} of {{page.paginator.num_pages}}
    {% if page.has_next %}
    <a href="?page={{page.next_page_number}}">Next</a>
    {% endif %}
</div>
{% endblock %}