{% extends 'base.html' %}
{% block content %}
<div class="create">
    <div class="update_image">
        <form action="/bucket/bucket_image/{{bucket.id}}/" method="post" enctype="multipart/form-data">   
            {%if bucket.image%}
                <img src="/media/{{bucket.image}}">
            {%else%}
                <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR69NqHZ5iSU6hstqlhMGcigGhmdmDTBalgpg&usqp=CAU">
            {%endif%}
            <div class="btn1">
                <input class="btn btn-sm btn-outline-secondary" type="file" name="image" style="width:60%" />
                <button class="btn btn-sm btn-outline-secondary" type="submit" style="">
                    사진 수정
                </button>
            </div>
        </form>
    </div>
    <div class="text-center mb-4">
        <div>
            {%csrf_token%}
            <form action="/bucket/update/{{ bucket.id }}/" method="POST">
                <div class="form-label-group">
                     <textarea type="text" class="form-control input-lg" name="title" style="margin-bottom: 20px;">{{ bucket.title }}</textarea>
                </div>
                <div class="bucket_content">
                    <textarea type="text" class="form-control input-lg" name="content">{{ bucket.content }}</textarea>
                </div>
                <button class="btn btn-lg btn-primary btn-block" style="width: 200px; margin: 20px auto 20px auto;" type="submit" style="margin:20px 20px;">수정하기</button>
            </form>
        </div>
    </div>
</div>    
{% endblock %}

