{% extends 'base.html' %}
{% block content %}
<div class="create">
    <div class="text-center mb-4">
        <img class="mb-5 p-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR69NqHZ5iSU6hstqlhMGcigGhmdmDTBalgpg&usqp=CAU" alt="" width="400" height="250">
        <div>
            {%csrf_token%}
            <form action="/bucket/update/{{ bucket.id }}/" method="POST">
                <div class="form-label-group">
                     <textarea type="text" class="form-control input-lg" name="title" style="margin: 0px 20px;">{{ bucket.title }}</textarea>
                </div>
                <div class="form-label-group">
                    <textarea type="text" class="form-control input-lg" name="content" style="margin:20px 20px;">{{ bucket.content }}</textarea>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin:20px 20px;">수정하기</button>
            </form>
        </div>
    </div>
</div>    
{% endblock %}

